@model List<Catalog.Domain.Model.MemberExchangeData>

@{
    ViewBag.Title = "Batch Report";
    Layout = "_Layout";
}


@for (int exchangeIndex = 0; exchangeIndex < Model.Count; exchangeIndex++)
{
    <div class="row">
        @{ var exchangeData = Model[exchangeIndex]; }
        <div class="col-md-12">
            <h3>@exchangeData.ExchangeData.Name</h3>
        </div>
        <div class="col-md-12">
            <h5>Produced Services</h5>
            <div class="row">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Subsystem</td>
                        <td>Service</td>
                        <td>Consumer</td>
                        <td>Succeed Requests</td>
                        <td>Failed Requests</td>
                        <td>Total Requests</td>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int subSystemIndex = 0; subSystemIndex < exchangeData.SubSystems.Count; subSystemIndex++)
                    {
                        var subSystem = exchangeData.SubSystems[subSystemIndex];
                        for (int serviceIndex = 0; serviceIndex < subSystem.ProducedServices.Count; serviceIndex++)
                        {
                            var producedService = subSystem.ProducedServices[serviceIndex];
                            for (int consumerIndex = 0; consumerIndex < producedService.Consumers.Count; consumerIndex++)
                            {
                                <tr>@consumerIndex + 1</tr>
                                <tr>@subSystem.Name</tr>
                                <tr>@producedService.Name</tr>
                                <tr>@producedService.Consumers[consumerIndex].Name</tr>
                                <tr>@producedService.Consumers[consumerIndex].RequestsCount.Succeeded</tr>
                                <tr>@producedService.Consumers[consumerIndex].RequestsCount.Failed</tr>
                                <tr>@producedService.Consumers[consumerIndex].RequestsCount.Total</tr>
                            }
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <h5>Consumed Services</h5>
            <div class="row">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Subsystem</td>
                        <td>Producer</td>
                        <td>Succeed Requests</td>
                        <td>Failed Requests</td>
                        <td>Total Requests</td>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int subSystemIndex = 0; subSystemIndex < exchangeData.SubSystems.Count; subSystemIndex++)
                    {
                        var subSystem = exchangeData.SubSystems[subSystemIndex];
                        for (int serviceIndex = 0; serviceIndex < subSystem.ConsumedServices.Count; serviceIndex++)
                        {
                            var consumedService = subSystem.ConsumedServices[serviceIndex];
                            <tr>
                                <td>@serviceIndex+1</td>
                                <td>@subSystem.Name</td>
                                <td>@consumedService.Name</td>
                                <td>@consumedService.RequestsCount.Succeeded</td>
                                <td>@consumedService.RequestsCount.Failed</td>
                                <td>@consumedService.RequestsCount.Total</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
1111`